:root {
    /* Colores */
    --purpura: #6078BF;
    --purpura-oscuro: #3a4e8a;
    --indigo: #44a3c8;
    --indigo-claro: #d3f3ff;
    --salmon: #F28157;
    --rojo: #F25D50;
    --blanco: #F2F2F2;
    --gris: #707070;
    --negro: #000000;

    /* Sombra */
    --sombra: 6px 6px 12px rgba(0, 0, 0, .2),
    -6px -6px 12px rgba(255, 255, 255, .2);

    /* Sombra Botón */
    --sombra-boton: -6px 6px 0px 0px rgba(242,93,80,1),
    -6px 6px 0px 0px rgba(242,93,80,1),
    -6px 6px 0px 0px rgba(242,93,80,1);

    /* Fuentes */
    --titulos: 'Yeseva One', cursive;
    --principal: 'Josefin Sans', sans-serif;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem - 10px */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1.2rem;
    box-shadow: var(--sombra);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--gris);
    border-radius: .8rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--principal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: var(--titulos);
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0 0 2.4rem 0;
}

.btn {
    padding: .8rem 2.4rem;
    border: none;
    border-radius: 5rem;
    background-color: var(--salmon);
    color: var(--blanco);
    transition: .2s linear;
    cursor: pointer;
    box-shadow: var(--sombra-boton);
    transition: all transform .3s;
    font-size: 2rem;
}

.btn:hover {
    transform: translate(-6px, 6px);
    box-shadow: 0px 0px 0px 0px rgba(242,93,80,1),
    0px 0px 0px 0px rgba(242,93,80,1),
    0px 0px 0px 0px rgba(242,93,80,1);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.4rem 24rem;
    box-shadow: var(--sombra);
    padding: 2rem;
    border-radius: 10rem;
    background-color: var(--blanco);
}

.contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-logo img {
    height: 8rem;
}

.contenedor-logo h1 {
    color: var(--indigo);
    font-size: 4rem;
    letter-spacing: .4rem;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.buscar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.buscar input {
    background-color: var(--blanco);
    border: .1rem solid var(--indigo);
    border-radius: 5rem;
    padding: .8rem 2.4rem;
    width: 32rem;
    text-align: center;
    font-size: 2rem;
}

/* Hero */
.hero {
    display: flex;
    justify-content: flex-start;
}

.texto-hero {
    width: 50%;
    padding: 16rem 8rem 16rem 8rem;
}

.texto-hero h2 {
    font-size: 5.6rem;
    line-height: 1;
}

.texto-hero p {
    font-size: 2.4rem;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
}

/* Main */
main {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem;
}

/* Sidebar */
.sidebar {
    background-color: var(--blanco);
    padding: 2.4rem;
    width: 30%;
    box-shadow: var(--sombra);
    height: 67rem;
    position: sticky;
    top: 2.4rem;
}

.sidebar h2 {
    font-size: 3.2rem;
    text-align: center;
}

.sidebar article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar article p {
    color: var(--purpura)
}

.btn-limpiar-filtros {
    padding: .8rem 2.4rem;
    border: none;
    border-radius: 5rem;
    background-color: var(--purpura);
    color: var(--blanco);
    cursor: pointer;
    transition: .2s linear;
}

.btn-limpiar-filtros:hover {
    background-color: var(--purpura-oscuro);
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2rem;
    margin: 2.4rem 0;
    border: .1rem solid var(--purpura);
}

.contenedor-rango {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem
}

.contenedor-rango input {
    width: 30%;
    padding: .8rem 0;
    text-align: center;
}

.contenedor-rango span {
    font-weight: 500;
    color: var(--purpura);
}

.campo select {
    padding: .8rem 2.4rem;
    text-align: center;
    width: 100%;
}

/* Sección tarjetas */
.seccion-tarjetas {
    width: 68%;
    background-color: var(--blanco);
    box-shadow: var(--sombra);
}

.contenedor-ordenar {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem;
}

.contenedor-ordenar select {
    width: 24rem;
    text-align: center;
}

/* No se encontraron películas */
.no-se-encontraron-peliculas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 57rem;
}

.no-se-encontraron-peliculas img {
    width: 40%;
}

.no-se-encontraron-peliculas h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

/* Tarjetas */
.contenedor-tarjeta {
    padding: 2.4rem;
}

.tarjeta-pelicula {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    box-shadow: var(--sombra);
    background-color: var(--indigo-claro);
    height: 56rem;
    position: relative;
}

.contenedor-img {
    min-height: 100%;
    max-height: 100%;
    min-width: 32%;
    max-width: 32%;
    height: 100%;
    width: 32%;
    position: relative;
}

.contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-info {
    padding-right: 2.4rem;
}

.contenedor-info h3 {
    font-size: 3.2rem;
    font-family: var(--titulos);
    color: var(--purpura-oscuro);
}

.contenedor-info span {
    font-weight: 700;
    color: var(--rojo);
}

.director-productor-fecha-puntuacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info span {
    font-weight: 700;
    color: var(--rojo);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    background-color: var(--negro);
}

footer img {
    height: 16rem;
}

.logo-copyright {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.logo-copyright h2 {
    font-family: var(--titulos);
    color: var(--indigo);
    font-size: 4rem;
    letter-spacing: .4rem;
    text-align: center;
}

.logo-copyright p {
    font-size: 1.2rem;
    color: var(--blanco);
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.redes-sociales a {
    text-decoration: none;

}

.redes-sociales a i {
    color: var(--blanco);
    font-size: 2.4rem;
    background-color: var(--indigo);
    padding: 1.2rem;
    border-radius: 4rem;
    transition: .3s all linear;
}

.redes-sociales a i:hover {
    background-color: #3a4e8a;
}

/* Tarjetas Personajes */
.overlay-contenedor-personajes {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--indigo);
    z-index: 999;
    align-items: center;
    box-shadow: var(--sombra);
    padding: 0, 2.4rem;
  }

  .tarjeta-pelicula.active .overlay-contenedor-personajes {
    display: flex;
    transition: transform 0.3s ease;
  }

  .overlay-contenedor-personajes i{
    height: 4.8rem;
    width: 4.8rem;
    background-color: var(--salmon);
    color: #F2F2F2;
    opacity: 0.3 ;
    text-align: center;
    line-height: 4.8rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    box-shadow: var(--sombra);
    z-index: 999;
    transform:translateY(-10%);
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    transition: 0.3s;
}
.overlay-contenedor-personajes i:hover{
  opacity:0.9;
  
}
.overlay-contenedor-personajes i:first-child{
    left: -1.2rem;
}
.overlay-contenedor-personajes i:last-child{
    right: -1.2rem;
}
  .carrusel-personajes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    scroll-snap-align: start;
    }
  .tarjeta-personaje {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    align-items: center;
    background-color: var(--indigo-claro);
    height: 100%;
    width: 100%;
    position: relative;
  }
  /* img tarjeta*/
.tarjeta-personaje .contenedor-img-personaje{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    background-color: transparent;
}

  .tarjeta-personaje img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
  }
  /* nombre tarjeta personaje */
  .tarjeta-personaje h3 {
    font-size: 2.4rem;
    font-family: var(--titulos);
    color: var(--purpura-oscuro);
}
/* categorías o títulos */
.tarjeta-personaje .span{
    font-weight: 700;
}
.tarjeta-personaje .contenedor-nombre{
    height: 20%;
    display: flex;
    justify-content: left;
    align-items:center;
}

/* tarjeta inferior: donde esta la info, no el nombre */
.tarjeta-personaje .info-personaje{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.tarjeta-personaje .contenedor-info-personaje{
    padding: 1.5rem;
}

@media (max-width: 1286px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        border-radius: 0;
        margin: 0;
    }

    .sidebar {
        width: 25%;
    }

    .seccion-tarjetas {
        width: 73%;
    }
}

@media (max-width: 1150px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    .sidebar {
        width: 70%;
        position: static;
    }

    .seccion-tarjetas {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    body {
        background-position: right;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 951px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-hero {
        width: 75%;
    }
}